.mat-stepper-horizontal, .mat-stepper-vertical{
    background: none;
}

.mat-card.result{
    background: #1991c1;
    color: #fff;
    p{
        margin-bottom: 0px;
        &.mat-display-1{
            color: inherit;
        }
    }
}