body{
    background: url(/assets/background.jpg) top;
}

.catlabs-logo{
    height: 30px;;
}

.catlabs-immo-container{
    margin: 80px 80px;
}

/*@include mat-select-typography($franchise);
h1{
    font-family: mat-font-family($franchise);
}*/