$transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1);

.mat-card{
  cursor: pointer;
  transition: background $transition;
  margin-bottom: 20px;
  & > div{
    height: 150px;
    width: 270px;
  }
  h2{
    margin-bottom: 0;
  }
  mat-icon{
    transition: color $transition;
    font-size: 50px;
  }
  &:hover{
    background-color: #1991c1;
    .mat-icon, p{
      color: white;
    }
  }
}