<div class="catlabs-immo-container" fxFlex="100" [fxFlex.gt-md]="'980px'">
  <h1 class="mat-display-3">Dashboard</h1>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start center">
    <mat-card class="add-card" (click)="openDialogAddSimulation()">
      <div fxLayout="column" fxLayoutAlign="center center">
          <div><mat-icon color="primary" [inline]="true">add</mat-icon></div>
          <h2 class="mat-h2">Ajouter une simulation</h2>
      </div>
    </mat-card>
    <mat-card *ngFor="let simulation of simulations | async; let i = index; trackBy: trackByFn" (click)="openDialogAddSimulation(simulation)">
      <div fxLayout="column" fxLayoutAlign="center center">
          <h2 class="mat-h2">{{simulation.store.name}}</h2>
          <p><b>{{simulation.balance | number:'1.0-0'}}€ / mois</b></p>
      </div>
    </mat-card>
  </div>
</div>
