<div class="login-container" fxLayout fxLayoutAlign="center center">
  <mat-card>
    <h1 class="mat-h1">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput autocomplete="on" type="email" formControlName="email" name="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput autocomplete="off" type="password" formControlName="password" name="password" placeholder="Password">
        </mat-form-field>
        <div fxLayout fxLayoutAlign="space-between center">
          <button mat-raised-button color="primary">Login</button>
          <a routerLink="/sign-up">Pas encore inscrit?</a>
        </div>
      </div>
    </form>
    <div *ngIf="isLoading" class="spinner-container" fxLayout fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
</div>
